@model IEnumerable<AdminWeb.Models.Location>

@{
    ViewData["Title"] = "GetLocationList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetLocationList</h1>

<p>
    <a asp-action="SaveLocation" asp-controller="Location">Create New</a>
</p>
<table id="zero_config" class="table table-striped table-bordered no-wrap">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                 @*<select asp-for="@item.Id" asp-items="@(new SelectList(ViewBag.message,"Id","LocationName"))"></select> *@
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @*  @Html.ActionLink("Edit", "MainTab", new { id = item.Id, msg = "Edit" }, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
  @Url.ActionContext.RouteData.Values["id"]*@

                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


<script language="javascript" type="text/javascript">
 $(document).ready(function() {
         console.log("Working");
        $('#zero_config').DataTable();
    });

</script>
